.entrada{
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
}
.container{
    border-radius: 2rem;
    width: 30%;
    padding: 0rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
}

 .form-step {
        display: none;
      }

      .form-step.active {
        display: block;
      }
