.entrada{
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
}
.container{
    background-color:red;
    border-radius: 2rem;
    width: 30%;
    padding: 0rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
}
